@import url("https://use.typekit.net/rmo1elf.css");

* {
  font-family: "dashiell-text";
  color: white;
  overflow-x: hidden;
  user-select: none
}



body {
  
  background: #fcf9f4 !important;
}

/* 
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #072952;
    z-index: -1; /* Ensure it's behind other content */

header {
  overflow: hidden;
  background: transparent;
  margin-top: 40px;
  padding: 0;
}

/* .navbar {
  padding: 0 !important;
} */

nav {
  padding-top: 0 !important;
}

#mynav-container {
  margin-right: 138px !important;
  margin-left: 5rem !important;
}

.navbar-brand a img {
  width: 214px;
}



.fullScreen-Section {
  height: 100vh;
  overflow-y: hidden;
  background: url("images/Web 1920 – 8.png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#first-Section {
  height: 100%;
}

.menu-Button {
  font-size: 35px;
  line-height: 44px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.navRightMenu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navRightMenu svg {
  cursor: pointer;
}

#firstSec-inner {
  margin-top: 6%;
}

#firstSection-mainText {
  font-size: 50px;
  margin-bottom: 17%;
}

#firstSection-p {
  font-size: 30px;
  line-height: 38px;
  width: 773px;
}

.navbar-brand {
  margin-right: 0 !important;
  margin-left: 113px;
}

.myBtn {
  display: flex !important;
  align-items: center !important;
  font-size: 20px !important;
  height: 55px;
  border-radius: 0 !important;
  border: 1px solid #dfab4e !important;
  padding: 0 34px !important;
  width: fit-content !important;
}

#firstSec-inner .myBtn {
  margin-top: 60px;
}

.exploreSec .myBtn {
  margin-top: 30px;
}
.prod-addtocart {
  margin-bottom: 50px;
}

.bag-Icon {
  margin-right: 16px;
}

#firstSection-button {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 55px;
  padding: 0 34px;
  margin-top: 27px;
}

.wishList-container, .shoppingCart-container{
  display: none;
  width: 30.21%;
  height: 100%;
  position: absolute;
  background: white;
  right: 0;
  top: 0;
}

.shoppingCart-container {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.shoppingCart-CheckOut {
  width: 92.41%;
  margin-bottom: 45px;
}

.shoppingCart-navbarbutton {
  position: relative;
}

.navbar-itemsInCart {
  position: absolute;
  top: 11px;
  right: 14px;
  font-size: 15px;
}

.shoppingCart-CheckOut .items-count {
  text-align: end;
  font-size: 25px;
  margin-bottom: 14px;
  margin-right: 8px;
}

.shoppingCart-CheckOut .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DFAB4E;
  border-radius: 0;
  padding: 12px 22px;
}

.wishList-cardsContainer, .shoppingCart-cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.shoppingCart-totalPrice {
  font-size: 25px;
}

.wishList-container *,.shoppingCart-container * {
  color: #1a1a1a;
}

.shoppingCart-container-prod, .wishList-container-prod {
  border-radius: 0 !important;
}

.shoppingCart-prod-menu {
  position: absolute;
  top: 16px;
  right: 23px;
}

.wishList-container-prod .card-body, .shoppingCart-container-prod .card-body  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px 25px 32px;
  cursor: pointer;
}

.shoppingCartProdQuantity * {
  color: #817f7f !important;

}

.shoppingCartProdQuantity {
  color: #817f7f !important;
  font-size: 20px;
  display: flex;
  gap: 10px;
}

.wishList-prod-left-container, .shoppingCart-prod-left-container {
  display: flex;
}

.wishList-prod-left-innerContainer ,.shoppingCart-prod-left-innerContainer {
  margin: auto;
  margin-left: 32px;
}

.wishList-container-prod .addToCart, .shoppingCart-container-prod .addToCart {
  border: 1px solid;
  display: flex;
  align-items: center;
  border-radius: 0;
  width: 42px;
  height: 42px;
  border: 1px solid #DFAB4E;
}

.wishList-container-prod .addToCart:hover{
  background: #DFAB4E;
}



.wishList-container-prod:hover .addToCart  {
  background: #DFAB4E;

}

.shoppingCart-container-prod:hover .addToCart  {
  background: #DFAB4E;

}

.wishList-prodImg, .shoppingCart-prodImg {
  width: 60px;
  align-self: center;
}

.wishList-container .card-title, .wishList-container .card-price, .shoppingCart-container .card-title, .shoppingCart-container .card-price {
  font-size: 25px;
}

.shoppingCart-container .card-price {
  position: absolute;
  bottom: 20px;
  right: 22px;
}

.wishList-container .card-title, .shoppingCart-container .card-title {
  font-weight: 600;
}

.wishList-container-title, .shoppingCart-container-title {
  font-size: 30px;
  font-weight: 600;
}

.wishList-innerContainer, .shoppingCart-innerContainer {
  padding: 50px 40px;
}




.titleAndClose{
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  margin-bottom: 24px;
  max-width: 93%;
}

.titleAndClose svg {
  cursor: pointer;
}

#firstSection-slider {
  width: 210px;
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

.slider-comp {
  width: 34px;
  background: #cdc2b2;
  height: 4px;
  cursor: pointer;
}
.slider-comp:hover {
  background: #f17e5c;
}



.active-slider{
  background: #f17e5c;
}

.second-Section {
  background: #fcf9f4 !important;
  max-width: 1920px;
  margin: auto;
}

.second-Section .wishList{
  position: relative;
  top: 86px;
  right: -372px;
}

.mysecond-container {
  height: 100%;
}

.mysecond-container .row {
  height: 100%;
}

.mysecond-container .row .col {
  height: 100%;
}

.secondSecProdDetails {
  background: url("images/New folder/Mask\ Group\ 2.png") 2% 100% no-repeat, url("images/New folder/Mask\ Group\ 3.png") 89% 100% no-repeat;
}

.mysecond-container .row .col {
  padding: 0;
}


.second-Section .onHoverCard {
  display: flex;
  opacity: 0;
  position: relative;
  width: 1px;
  border: 0;
  background: transparent;
  border-radius: 0;
  top: -941px;
  left: 244px;
  z-index: 100;
  transition: 0.3s; 
}

.onHoverCard:nth-of-type(2) {
  display: flex;
  opacity: 0;
  position: relative;
  width: 1px;
  border: 0;
  background: transparent;
  border-radius: 0;
  top: -1041px;
  left: 173px;
  z-index: 100;
  transition: 0.3s; 
}

.onHoverCard:nth-of-type(3) {
  display: flex;
  opacity: 0;
  position: relative;
  width: 1px;
  border: 0;
  background: transparent;
  border-radius: 0;
  top: -1174px;
  left: 152px;
  z-index: 100;
  transition: 0.3s; 
}

.onHoverCard:nth-of-type(4){
  display: flex;
  opacity: 0;
  position: relative;
  width: 1px;
  border: 0;
  background: transparent;
  border-radius: 0;
  top: -1359px;
  left: 198px;
  z-index: 100;
  transition: 0.3s; 
}

.first-unselected-prod:hover .onHoverCard {
  display: flex;
}




.second-Section .onHoverCard .card-body {
  display: flex;
  background: white;
  border: 1px solid black;
  border-radius: 0;
  margin-top: 100px;
  justify-content: space-between;
  padding: 30px 20px;
  width: 509px;
  height: 229px;
}

.onHoverCard:nth-of-type(4) .card-body {
  margin-top: 0;
  margin-right: 100px;
}

.shoppingCart-prod-Details {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}

.second-Section .onHoverCard  img {
  width: 150px;
  object-fit: contain;
  margin-left: 23px;
}
.second-Section .onHoverCard .btn{
  display: flex;
  width: 247px;
  height: 60px;
  border-radius: 0;
  align-items: center;
  justify-content: center;
}

.second-Section .onHoverCard .btn svg {
width: 20.18px;
height: 20.18px;
margin-right: 17px;
}

.second-Section .onHoverCard .btn * {
  color: white;
  font-size: 20px;
}

.second-Section .onHoverCard .onHoverCardTitle {
  font-size: 25px;
}

.second-Section .onHoverCard .onHoverCardPrice {
  font-size: 25px;
  font-weight: 700;
}

.fifthSection-innerContainer .myBtn {
  margin-top: 0px;
  border: 0 !important;
  width: 100% !important;
  background: black !important;
  color: white;
  justify-content: center;
  height: 60px;
}

.fifthSection-innerContainer .myBtn:hover {
  color: white;
}

.bag-Icon path {
  stroke: #fff;
}

.second-Section-rightImg {
  object-fit: cover;
}

.first-selected-prod {
  position: relative;
  top: -854px;
  left: 214px;
  opacity: 0;
}

.first-unselected-prod {
  position: relative;
  top: -885px;
  left: 138px;
  opacity: 1;
}


.second-selected-prod {
  opacity: 0;
  position: relative;
  top: -629px;
  left: 341px;
}

.second-unselected-prod {
  position: relative;
  top: -627px;
  left: 274px;
}





.mycard {
  border-radius: 0 !important;
    border: 0 !important;
}

.carousel-inner .mycard .card-body {
  cursor: pointer;
  padding: 23px;
  height: 209px;
}

.third-selected-prod {
  opacity: 0;
  position: relative;
  top: -444px;
  left: 55px;
}

.third-unselected-prod {
  position: relative;
  top: -445px;
  left: -14px;
}

.fourth-selected-prod {
  opacity: 0;
  position: relative;
  top: -226px;
  left: 326px;
}

.fourth-unselected-prod {
  position: relative;
  top: -222px;
  left: 262px;
}

.firstOption {
  background: url("images/onHover/Group\ 195.png");
}

.prod-name{
  cursor: pointer;
}

.imgcol {
  max-height: 1080px;
  overflow-y: hidden;
}

.imgcol svg {
  cursor: pointer;
}

.imgUnselectedProd:nth-of-type(1) {
  position: relative;
  top: -846px;
  left: 260px;
  z-index: 2;
}

.imgSelectedProd:nth-of-type(2) {
  position: relative;
  scale: 0.65;
  top: -846px;
  left: 205.5px;
  z-index: 1;
  opacity: 1;
  transition: 0.3s; 
}


.imgUnselectedProd:nth-of-type(3) {
  position: relative;
  top: -621px;
  left: 430px;
  z-index: 2;
}

.imgSelectedProd:nth-of-type(4) {
  position: relative;
  opacity: 0;
  scale: 0.65;
  top: -621px;
  left: 376px;
  z-index: 1;
  opacity: 1;
  transition: 0.3s; 

}

.imgUnselectedProd:nth-of-type(5) {
  position: relative;
  top: -422px;
  left: 128px;
  z-index: 2;
}

.imgSelectedProd:nth-of-type(6) {
  position: relative;
  opacity: 0;
  scale: 0.65;
  top: -422px;
  left: 74px;
  z-index: 1;
  opacity: 1;
  transition: 0.3s; 

}

.imgUnselectedProd:nth-of-type(7) {
  position: relative;
  top: -229px;
  left: 401px;
  z-index: 2;
}

.imgSelectedProd:nth-of-type(8) {
  position: relative;
  opacity: 0;
  scale: 0.65;
  top: -229px;
  left: 347px;
  z-index: 1;
  opacity: 1;
  transition: 0.3s; 

}

.second-Section {
  height: 1080px;
}

.second-Section * {
  color: #1a1a1a;
}

.prod-img {
  margin-top: 223px;
  margin-bottom: 121px;
  height: 267px;
}

.prod-name {
  font-family: "dashiell-text" !important;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 25px;
}

.prod-p {
  font-size: 25px;
  width: 675px;
  margin-bottom: 22px;
  color: #817f7f;
}

.secondSection-slider {
  width: 246px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 5.74%; */
}

/* .prod-slider {
    padding: 10px 0;
    border: none;
} */

.prod-price {
  font-size: 25px;
  font-weight: 700;
}

.second-Section .prod-price {
  margin-bottom: 19px;

}

.prod-addtocart {
  font-size: 20px;
  width: 247px !important;
  justify-content: center;
  border: 0 !important;
  
}

#third-Section {
  height: 691px;
  background: url(images/Mask\ Group\ 20.png);
}

.leftFlowers {
  display: none;
  top: 1800px;
  left: 10px;
}

.rightFlowers {
  display: none;
  top: 1794px;
  left: 662px;
}

.thirdSection-innerContainer {
  width: 530px;
  height: 100%;
  margin-right: 145px;
}

.third-section-title {
  font-size: 45px;
}

.third-section-p {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 21px;
}

#fourth-Section {
  height: 691px;
  background: url(images/Mask\ Group\ 21.png);
}

#fourth-Section * {
  color: #1a1a1a;
}

.fourthSection-innerContainer {
  width: 530px;
  height: 100%;
  margin-left: 145px;
}

#fifth-Section {
  height: 883px;
  background: #fcf9f4;
}

.fifthSectionTitle {
  font-size: 45px;
  color: #1a1a1a;
  margin-left: 145px;
  margin-bottom: 27px;
}

.fifthSection-innerContainer {
  width: 100%;
  height: 100%;
  margin-top: 85px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 145px !important;
  height: fit-content;
  margin: auto;
}

/* .carousel-inner .active{
    display: flex !important;
} */

.carousel {
  width: 100%;
}

.card * {
  color: #1a1a1a;
}
.mycard {
  width: 398px !important;
}

.mycard .cardImgCont img {
  width: 100%;
  height: 428px;
  object-fit: cover;
}

.carousel-item .card-title {
  font-size: 25px;
  margin-bottom: 0;
}

.carousel-item .mycard {
  border: 1px solid black !important;
}

.carousel-item .card-price {
  font-size: 25px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 25px;
}

.currency {
  font-size: 25px;
}

.mycard .card-body {
  padding-top: 4px;
  padding-bottom: 25px;
  overflow: hidden;
}

.cardGap {
  gap: 11.3px;
}

.pic1 {
  position: absolute;
  transition: opacity 0.3s; /* Specify the property to transition and the duration */
}

.pic2 {
  opacity: 0;
  transition: opacity 0.3s; /* Specify the property to transition and the duration */
}

.cardImgCont:hover .pic1 {
  opacity: 0;
}

.cardImgCont:hover .pic2 {
  opacity: 1;
}

/* .wishList img {
    position: absolute;
    top: 24px;
    right: 24px;
} */
.wishList {
  position: absolute;
  top: 24px;
  right: 24px;
}

.wishList svg {
  cursor: pointer;
}

.scrolling-wrapper {
  display: none;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  .card {
    flex: 0 0 auto;
  }
}

.scrolling-wrapper .mycard:first-child {
  margin-left: 20px;
}

.scrolling-wrapper .mycard:last-child {
  margin-right: 20px;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

#sixth-Section {
  height: 691px;
  background: url(images/Mask\ Group\ 23.png);
}

.seventh-section .categories .card {
  width: 25%;
  align-items: center;
  justify-content: end;
  border-radius: 0;
  border-bottom: 0;
}

.seventh-section .categories .card .myBtn {
  margin-bottom: 39px;
  margin-top: 25px;
  padding: 0 20px !important;
  height: 49px;
}

.seventhSection-card-title {
  font-size: 25px;
}

.active-Heart {
  fill: #dfab4e;
  stroke: none;
}

footer {
  height: 650px;
  background: #fcf9f4;
  background-image: url("images/new folder/Group\ 109.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: contain;
}

footer * {
  color: #1a1a1a;
}

.footerMenu a {
  font-size: 20px;
  text-decoration: none;
  color: #1a1a1a;
}

.subscribe {
  width: 578px;
}

.subscribe .btn {
  justify-content: center;
  background: white;
  height: 40px;
}

.subscribe input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
  width: 100%;
  font-size: 20px;
}

.subscribe input:focus {
  outline: none;
}

.underFooter {
  background: rgba(244, 193, 180, 0.29);
  justify-content: space-between;
  height: 52px;
}
.categories{
  display: flex;
}

.underFooter * {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 15px;
}

.underFooter-Menu {
  margin-left: 100px;
}

.underFooter-Copyright {
  margin-right: 100px;
}

#third-Section,
#fourth-Section,
#sixth-Section, 
#eighth-Section {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#eighth-Section {
  height: 691px;
  background: url(images/Mask\ Group\ 25.png);
}

#eighth-Section * {
  color:#1a1a1a;
}

.removeCardBtn {
  font-size: 11px;
  position: absolute;
  text-decoration: underline;
  right: 21px;
  bottom: 9px;
}

@media (max-width: 1920px) {
  #first-Section {
    background-size: auto;
  }
}

@media (max-height: 1080px) {
  #firstSec-inner {
    margin-top: 0;
  }
}

/* @media(max-height:1100px) {
    #secondSecProdDetails, .prod-img, .prod-name, .prod-p, #secondSection-slider, .prod-price {
        margin: 0;
    }

} */






@media (max-width: 400px) {

  .navbar {
    width: 90%;
    margin: auto;
  }


  #mynav-container{
    padding: 0;

  }

  header {
    margin-top: 5px;
  }

  #mynav-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .navbar-brand {
    margin-left: 0 ;
  }

  .navbar-brand a img {
    width: 140px;
  }

  .navRightMenu {
    gap: 15px;
  }

  .menu-Button {
    width: 63px;
  }

  #menu-Text {
    display: none;
  }

  .navRightMenu > svg:nth-of-type(1){
    display: none;
  }

  .navRightMenu > svg:nth-of-type(2){
    width: 24px;
  }

  .shoppingCart-containerShowBtn {
    width: 24px;
  }

  .navbar-itemsInCart {
    top: 11px;
    right: 8.6px;
    font-size: 14px;
  }

  .navRightMenu {
    align-items: center;
  }

  #firstSection-mainText {
    font-size: 40px;
    line-height: normal;
  }

  #firstSection-p {
    font-size: 16px;
    width: auto;
    line-height: normal;
  }

  .second-Section{
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .mysecond-container {
    width: 90%;
  }

  .imgcol {
    display: none;
  }
  
  .secondSecProdDetails .prod-img{
    margin-bottom: 40px;
    margin-top: 50px;
    height: 180px;

  }

  .prod-name {
    font-size: 25px;
  }

  .prod-p {
    font-size: 16px;
    width: auto;
  }

  .secondSecProdDetails{
    position: relative;
    z-index: 1;
    background: url("images/New folder/Mask\ Group\ 2.png") 0% 100% no-repeat;
    background-size: 135px;
  }

  .secondSecProdDetails::before {
    content: ""; /* Add content to the pseudo-element */
    position: absolute; /* Position it absolutely within the parent element */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/New folder/Mask\ Group\ 2.png");
    background-position: 0% 100%;
    background-size: 135px;
    background-repeat: no-repeat;
    transform: rotate(180deg); /* Rotate only the background */
    z-index: -1;
  }

  .thirdSection-innerContainer {
    margin-right: 0;
  }

  .fourthSection-innerContainer{
    margin-left: 0;
  }

  .third-section-p {
    font-size: 16px;
  }

  .thirdSection-innerContainer, .fourthSection-innerContainer{
    width: auto;
  }

  .third-section-title {
    font-size: 30px ;
  }

  .thirdSection-innerContainer, .fourthSection-innerContainer {
    align-items: center;
    text-align: center;
  }

  .thirdSection-innerContainer .myBtn, .fourthSection-innerContainer .myBtn {
        padding: 0px 21px !important;
        height: 42px;
        font-size: 15px !important;
  }

  #first-Section .myBtn {
        padding: 0px 21px !important;
        height: 42px;
        font-size: 15px !important;
  }

  #third-Section, #fourth-Section, #sixth-Section, #eighth-Section {
    height: 350px;
  }

  #third-Section {
    background-position: 20%;
  }

  #fourth-Section {
    background-position: 86.83%;
  }

  #third-Section > .container-fluid{
    backdrop-filter: blur(1px);
  }

  #fourth-Section > .container-fluid {
    backdrop-filter: blur(1px);
  }

  .third-section-title {
    font-weight: 600;
  }

  .third-section-p {
    font-weight: 500;
  }

  #fifth-Section {
    height: 730px;
  }

  .fifthSection-innerContainer {
    margin-top: 0;
  }

  .fifthSectionTitle {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }

  .carousel-item .mycard {
    width: 85% !important;
  }

  .carousel-item .mycard .cardImgCont img {
    height: 350px !important;
  }

  .carousel-item .mycard .card-body {
    padding: 23px;
  }

  .categories {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
  }

  .seventh-section .categories .card {
    width: 100%;
  }

  .categories .card img {
    width: 100px ;
}

.seventhSection-card-title {
  font-size: 21px;
}

.categories .myBtn {
  padding: 0px 21px !important;
    height: 42px !important;
    font-size: 15px !important;
    margin-bottom: 30px !important;
}

#eighth-Section {
  background-position: 70%;
}

#sixth-Section .container-fluid, #eighth-Section .container-fluid {
    backdrop-filter: blur(1px);
}

footer {
  width: 90%;
  margin: auto;
}

.subscribe {
  flex-direction: column;
  width: 100%;
}
.subscribe input {
  font-size: 16px;
}
.subscribe .btn {
  font-size: 17px !important;
  width: 100% !important;
}

.footerMenu {
  flex-direction: column;
    align-items: baseline;
    width: 100%;
}

.underFooter {
  flex-direction: column;
  height: 85px;
}

.underFooter-Menu {
  margin-left: 0;
  height: 50%;
  align-items: center;
}

.underFooter-Menu a {
  font-size: 10px !important;
}

.underFooter-Copyright {
  margin-right: 0;
  height: 50%;
  display: flex;
    align-items: center;
    font-weight: 700;
}

}
 
